<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<%= button_to [:create_order, @user] do %>
  <%= @user.id %>
  Make happy <strong><%= @user.name %></strong>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
